<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hikearmenia">

    <meta-data
        android:name="com.inthecheesefactory.lab.glidepicasso.GlideConfiguration"
        android:value="GlideModule"
        tools:replace="android:value"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name=" android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".app.HikeArmeniaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/login_view_app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/TransparentStatusBarTheme"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.hikearmenia.app.HikeArmeniaApp"
            android:value="com.hikearmenia.app.HikeArmeniaApp" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAtzWJ3HuelZWko85ktTFjMyu00VwD4f9M" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <activity
            android:name=".activities.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.TrailDetailActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activities.TransparentStatusBarACtivity" />
        <activity
            android:name=".activities.FindLocalGuidesActivitiy"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.GuideReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.TrailTipsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.AccomodationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.CompassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.TakePhotoActivity"
            android:screenOrientation="portrait" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"
            tools:replace="android:value" />

    </application>

</manifest>